/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');


body {
  width: 100%;
  height: 100%;
  font-family: 'Lato';
	font-weight: 300;
  color: #00193B;
	/*font-size: 16px;*/
  line-height: 1.6em;
	font-weight: 400;
	/*background-color :#F9F9F9;*/
}

/*gallery*/
	/*#gallery{padding-top:1em;}*/
	#gallery figcaption a{
		border:1px solid #fff;
		margin-top: 1em;
		display: inline-block;
		color: #fff;
		padding: 0 2em;
	}
	#gallery figcaption a:hover{
		text-decoration: none;
		padding: 0 3em;}
/*gallery*/

.container-bg{
	padding:5px;
	background-color:rgba(2, 54, 114, 0.05);
}

.home-section-alone{
	/*padding-top:20px;
	padding-bottom: 20px;*/
}

html {
    width: 100%;
    height: 100%;
}

h1 {
	font-size: 38px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 5px;
  margin: 0 -8px 0px;
  font-family: 'Lato';
  font-weight: 700;
  color: rgb(0, 120, 255);
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 120, 255, 0.5);
}

h1.h-xlight,h2.h-xlight,h3.h-xlight ,h4.h-xlight ,h5.h-xlight ,h6.h-xlight  {
	font-weight: 200;
}

h1.h-light,h2.h-light,h3.h-light ,h4.h-light ,h5.h-light ,h6.h-light  {
	font-weight: 300;
}

h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
	font-weight: 600;
}

h1.font-light,h2.font-light,h3.font-light,h4.font-light,h5.font-light,h6.font-light {
	color: #fff;
}

.big-heading {
	font-size: 48px;
	font-weight: 700;
}

p {
  /*margin: 0 0 20px;*/
}

p.lead {
	font-weight: 600;
}

.highlight-light {
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	display: inline-block;
	color: #111;
}

.highlight-dark {
	background-color: rgba(0,0,0,.5);
	padding: 20px;
	display: inline-block;
	color: #fff;
}

.highlight-color {
	padding: 20px;
	display: inline-block;
}

a {
    color: #FFF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 24px;
	line-height: 1.5em;
  font-weight: 300;
  color: #999;
}

blockquote.bg-light {
	background-color: rgba(255,255,255,.8);
	padding: 20px;
	color: #222;
}

blockquote.bg-dark {
	background-color: rgba(0,0,0,.8);
	padding: 20px;
}

blockquote strong {
  font-weight: 700;
}




.light {
    font-weight: 400;
}

/* --- logo --- */

.site-logo a.brand {
	color: #111;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin-top: 20px;
}


/* ------- Navigation ------------ */
#navigation {
	background: #fff;
	z-index: 9999;
	width:100%;
  box-sizing:border-box;
	border-bottom: 1px solid #eee;
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
}


.navbar {
    margin-bottom: 0;
}

.navbar-brand {
/*  color: #3668A1;
  padding: 10px*/
}


.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.6);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}


.navbar-custom ul.nav li a {
  font-size: 12px;
  /* letter-spacing: 1px; */
  color: #3668A1;
  text-transform: uppercase;
  /* font-weight: 700; */
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
	margin-top: 21px;
	border-top: none;
}

.navbar-custom ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
/*    padding: 4px 6px;
    font-size: 14px;
    color: #fff;*/
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* misc */
.hr33 {
  background: #0078FF;
  margin-bottom: 5px;
  margin-top: 20px;
}

hr.bold {
  border-top: 3px solid #eee;
}

.divider-header {
	background-color:rgba(0, 120, 255, 0.41);
	display: block;
	width: 80px;
	height: 2px;
	margin: 0 auto;

}

.divider-short {
/*	background-color:red;*/
	display: block;
	width: 60px;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}
.marginbot-60{margin-bottom:60px !important;}
.marginbot-70{margin-bottom:70px !important;}
.marginbot-80{margin-bottom:80px !important;}
.marginbot-90{margin-bottom:90px !important;}
.marginbot-100{margin-bottom:100px !important;}

.margintop-0{margin-top:0 !important;}
.margintop-10{margin-top:10px !important;}
.margintop-20{margin-top:20px !important;}
.margintop-30{margin-top:30px !important;}
.margintop-40{margin-top:40px !important;}
.margintop-45{margin-top:45px !important;}
.margintop-50{margin-top:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.inner-section {
    padding-top: 110px;
    padding-bottom: 110px;
}


.home-section.nopadd-bot {
    padding-bottom: 0;
}


.section-heading h2 {
	font-size: 48px;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 0px;
	background-color: #F5F5F5;
}

.section-heading p {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.6em;
	margin-top: 18px;
}

.color-dark .section-heading h2 {
	color: #0078FF;
}
.color-dark .section-heading p {
	color: #8A6D3B;
}

.color-dark .divider-short {
	background: #000;
}
.color-dark .divider-header {
	background: #000;
}

.color-light .divider-short {
	background: #666;
}
.color-light .divider-header {
	background: #666;
}


.color-light .section-heading h2 {
	color: #fff;
}
.color-light .section-heading p {
	color: #fefefe;
}

.color-light blockquote,.color-light p {
	color: #fefefe;
}

/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f9f9f9;
}


.bg-dark {
	background: #404040;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */

.intro2 {
	background-repeat: no-repeat;
	background-image: url('../../img/logo-dark.jpg');
}

.bg-img {
	position: absolute;
	overflow: hidden; 
	top: 35px;
	left: 0;
	right: 0;
	bottom: 0;
	height:600px;
	margin-top:25px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.intro-inner {
	width:100%;
	position:relative;
	padding:120px 0 20px;
}

.brand-heading {
	/*text-transform: uppercase; */
	margin-bottom:15%;
	font-size:30px;
	color:#fff;
	font-weight:700px;
}

.modal-style{
	color: white;
  background-color: #053E80;
  padding: 10px;
}

.modal-title{
	color: white;
	text-transform: uppercase;
  background-color: #053E80;
  padding: 5px;
}

/*	.intro-text {
	  font-size:18px;
		color:#fff;
		letter-spacing:1px;
	}*/


/* ====  slider ==== */

/* Header */

section#intro {
	padding: 0;
  width: 100%;
  height: 100%;
  /*background: #333;*/
}

.space-profile{
	margin-left:60px;
}

/* Carousel Styles */
.carousel-head {
	color:#fff;
}

.carousel-inner {
    /*width: 100%;
    height: 100%;*/
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 0;
}

.carousel-control.right span {
	padding: 0;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 30px;
}



.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.carousel-inner > .item {
  margin-left:0;
  margin-top:0;
  margin-bottom:0;
  padding-left: 0;
  width: 100%;
  height: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left:0;
  padding-left: 0;
}

/* Carousel Header Styles */


.header-text1 {

    /*text-transform: uppercase; */
    /*margin-bottom: 25%;
    margin-top: 20%;*/
		margin-bottom:8%;
		margin-top:10%;
}

.header-text2 {
	background: rgba(255, 255, 255, 0.09);
  	padding: 8px;
  	font-size: 17px;
  	margin-top: -50px;
}


.header-text3 {
  box-shadow: 0px -3px 5px 10px #F0EFF1; 
}

.header-text h2 span {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

.header-text h3 span {
	color: #fff;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

/*.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}*/

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* ===========================
--- About
============================ */

.putaboutcenter{
	padding-top: 45px;
}

/************************************************
*** ministries ***
************************************************/
/*.ministries {
	padding-top: 60px;
	padding-bottom: 60px;
}
*/
.ministries .section-heading {
  text-align: center;
}
.ministries .section-heading h1 {
  margin-top: 0;
}
.ministries .ministries:hover .ministries-contacts.left-top {
  left: 0;
  top: 0;
}
.ministries .ministries:hover .ministries-contacts.left-bottom {
  left: 0;
  bottom: 0;
}
.ministries .ministries:hover .ministries-contacts.right-bottom {
  right: 0;
  bottom: 0;
}
.ministries .ministries:hover .ministries-contacts.right-top {
  right: 0;
  top: 0;
}
.ministries .ministries:hover .ministries-img img {
  border-color: #36d7b7;
}
.ministries .ministries-img {
  width: 70%;
  /* padding: 30px; */
  margin: 0 auto;
  position: relative;
  text-align: center;
  /* margin-top: -40px; */
}
.ministries .ministries-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
		transition: all 0.3s ease;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #0178FF;
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}
.ministries .ministries-contacts {
  text-decoration: none;
  color: #F3F5F8;
  background-color: #0078FF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  display: block;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ministries .ministries-contacts i {
  line-height: 50px;
}
.ministries .ministries-contacts.left-top {
  left: 50%;
  top: 50%;
}
.ministries .ministries-contacts.left-bottom {
  left: 50%;
  bottom: 50%;
}
.ministries .ministries-contacts.right-bottom {
  right: 50%;
  bottom: 50%;
}
.ministries .ministries-contacts.right-top {
  right: 50%;
  top: 50%;
}
.ministries .ministries-desc {
  text-align: center;
  padding: 0 20% 20px;
}
.ministries .ministries-desc p {
  font-size: 18px;
  margin-top: 10px;
}


/* ===========================
--- Services
============================ */
.service-box {
	background: #fff;
    /* border: 1px solid rgba(239, 239, 239, 0.74); */
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.service-icon {
	margin-bottom: 20px;
}	


/* ===========================
--- Works
============================ */

#owl-works {

}

.item {
    margin: 10px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}	

/* ===========================
--- Contact
============================ */


.form-group {
  margin-bottom:20px;
}

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	font-size: 18px;
	line-height: 1.6em;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
	border-radius: 2px;
}

.btn-lg,
.btn-group-lg > .btn {
  border-radius: 2px;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
}

.widget-contact {
	text-align: left;
}



/* ===========================
--- Bottom
============================ */

.boxcol-25 {
	width: 100%;
}

.box-social {
	list-style: none;
}

.box-social li {
	width: 25%;
	float: left;
}


.box-social .social-facebook a { 
	display: block;
	background: #3873ae;
}


/* ==== Sidebar ==== */
.sidebar .widget h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.sidebar .widget {
	margin-bottom: 50px;
}

.widget ul {
	list-style: none;
	margin-left:0;
	padding-left:0;
}
.sidebar .widget ul li {
	margin-left:0;
	padding-left:0;
	margin-bottom: 10px;
}
.sidebar .widget ul li a {
	color: #666;
}


.widget.widget_categories ul li:before {
	display: inline-block;
	font-family: 'Lato';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e684";
	margin-right: 10px;
}


.widget.widget_recent_post ul li figure {
	float: left;
	margin: 0 20px 0 0;
}

.widget.widget_recent_post ul li {
	margin-bottom: 25px;
}

.widget.widget_recent_post ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.widget.widget_recent_post ul li h6 {
	margin-bottom: 10px;
}
.widget.widget_recent_post ul li span {
	font-size: 14px;
}

.widget .tagcloud a {
	padding: 4px 10px;
	color: #fff;
	display:inline-block;
	margin: 0 10px 10px 0;
	font-size: 14px;
	border-radius: 2px;
}

.widget .tagcloud a:hover {
	color: #fff;
	background: #333;
}

/* --- widget --- */

form.search-form input {
	font-size: 18px;
	line-height: 1.6em;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
	border-radius: 2px;
}

form.search-form input:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}



/* ===========================
--- Footer
============================ */

footer {
    background-color: #053E80;
}

footer {
	text-align: center;
	padding: 50px 0 ;
	
}

footer p {
	color: #f8f8f8;
	font-size: 14px;
}

footer a.totop {
	color: #fff;
	margin-bottom: 30px;
}
footer a.totop:focus {
	outline: 0;
}



/* menu */
ul.footer-menu {
	list-style: none;
}

ul.footer-menu li {
	float: left;
	margin: 0 0 0 10px;

}

ul.footer-menu li a {
	color: #fff;
	font-size: 16px;
	border-left: 1px solid #999;
	padding-left: 9px;
	line-height: 1.1em;
}

ul.footer-menu li:first-child a {
	border-left: none;
	padding-left: 0;
}

.social-widget {
	margin-top: 20px;
	margin-bottom: 30px;
}
.social-widget ul li a:hover {
	color: #fff;
}

footer .social-widget ul.team-social li a {
	margin: 0 5px;
}

.fa-social{
  border-radius: 50%;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* === testimonial slide === */
.testimonialslide {
	margin-top:0;
	padding-top: 0;
}

.testimonialslide ul li blockquote {
	color: #fff;
	border-left: none;
}

.testimonialslide ul li h4 {
	color: #fff;
	font-weight: 900;
}
.testimonialslide ul li h4 span {
	color: #fff;
	font-weight: 400;
}


/* --- button --- */
.btn-all {
	border: 2px solid #0078FF; */
	outline: none;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(137, 71, 71, 0.3);
	font-size: 14px;
	background-color: #0078FF;
	}

.btn.btn-noradius {
	border-radius: 0;
}

a.btn:focus{
	outline: 0;
}

.btn-red {
  color: #fff;
  background-color: #c83539;
  border-color: #c83539;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
.btn-red:active {
  background-image: none;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

/* --- progress --- */
.progress {
  height: 40px;

}
.progress-bar {
  font-size: 14px;
  line-height: 40px;
}

/* Media queries */

@media(min-width:767px) {

    .navbar {
    	padding: 5px 0;
    	border-bottom: 0;
    	letter-spacing: 1px;
    	background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
      background: #0178FF;
    }
	
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
	

    .intro-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {
	#navigation {
		padding: 20px 0;
	}
	.site-logo{
		margin: 0 0 0 30px;
		float:none;
	}
	.navbar-custom ul.nav li a {
		color: #3668A1;
	}
	.navbar-custom ul.nav ul.dropdown-menu li {
		border-bottom: 1px solid #aaa;

	}
	.navbar-header {
		/*margin-top:80px;*/
		/*padding:5px;*/
		/*color: white;*/
	}
	.navbar-header button {
		background: #111;
	}
	
	.navbar-header button.navbar-toggle {
    padding: 3px 12px;
    font-size: 14px;
    color: #FFFFFF;
    /* margin-right: 0px; */
    background-color: rgba(12, 12, 12, 0.97);
    float: right;
	}
	
	.navbar-custom .nav {
		/* background: rgba(0, 0, 0, 0.79); */
    color: white;
    background-image: url('/img/logo-dark.jpg');
    background-repeat: no-repeat;
	}
	
	.service-box {
		margin-bottom: 50px;
	}
	
	.team-wrap {
		margin-bottom: 30px;
	}
	
	form#contact-form {
		margin-bottom: 50px;
	}
	
	.xs-marginbot-20 {
		margin-bottom: 20px;
	}

}

@media (max-width:480px) {

	.navbar-custom .nav.navbar-nav {
    background: rgba(217, 208, 34, 0.39);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
		background: none;
	}
}
/************************************************
*** subscribe ***
************************************************/
.subscribe {
  position: relative;
  width: 100%;
  z-index: 100;
  /*padding-bottom: 50px;*/
  padding-top: 50px;
}
.subscribe .input-group {
  padding-top: 15px;
  padding-bottom: 7px;
}
.subscribe .form-control {
  border-color: #5BC0DE;
    background-color: #F3F5F8;
    color: #5BC0DE;
}
.subscribe .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.subscribe .input-group-addon {
background-color: #5BC0DE;
    border-color: #5BC0DE;
    color: #F3F5F8;
}
.subscribe .form-wrapper {
  position: relative;
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.subscribe .form-wrapper .ok {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #5c97bf;
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #ffffff;
  display: none;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
.subscribe .form-wrapper .ok h3 {
  margin: 10px 0;
}
.subscribe .form-wrapper.success {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.subscribe .form-wrapper.success .ok {
  display: block;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  z-index: 9;
}
/*Isaji's Profile*/
.profile {
	margin: 25px 0;
	padding-bottom: 60px;
	background: white;
	box-shadow:0 2px 3px #AF5006;
}

.profile-spacing{
	margin-top:40px;
}

.pro-heading{
	padding-top:10px;
	color:white;
}

.header-profile{
	margin-top:55px;
	text-transform: uppercase; 
}

.profile-bg{
	background:#F3F3F3;
}

.profile .cover .overlay {
	height: 150px;
	padding-top: 60px;
	opacity: 0;
	background:rgba(229, 234, 253, 0.6);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.profile:hover .cover .overlay {
	opacity: 1;
}

.profile .avatar {
	position: relative;
  z-index: 2;
  margin-top: -125px;
  border-radius: 50%;
  margin-bottom: -40px;
}

.profile-heading{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.profile .title {
	margin: 0px 0;
}

.profile-social{
	margin-top: 45px;
}
.nameTitle {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 3em;
    font-weight: 700;
    color: #AA4A0E;
    line-height: 1.5em;
    text-shadow:0.1em 0.1em 0.2em #BC5D0F;
    letter-spacing:0.1em;
}

.nameDescription{
    /* text-transform: uppercase; */
    font-family: URW Chancery L;
    font-size: 1em;
    /* font-weight: 700; */
    color: #AA4A0E;
    line-height: 1.5em;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 120, 255, 0.5);
    letter-spacing: 13px;	
}

.profile-text-background{
    background-color: rgba(170, 74, 14, 0.05);
    color: #AA4A0E;
    padding: 20px;
    margin-top: 45px;
    /* font-family: Sawasdee; */
    font-size: 20px;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 10px auto 10px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -0.5em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #D6BBA5;
}

hr.star-light:after {
    color: #D6BBA5;
    background-color: #FFF;
}

hr.star-primary {
    border-color: rgb(0, 120, 255);
}

hr.star-primary:after {
    color: rgb(0, 120, 255);
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}


/************************************************
*** Login / Sign-Up ***
************************************************/
.login-signup-outer{
	padding:40px;
}

.login-signup-title{
	color:red;
}

.login-signup-cover{
	padding:40px;
	
}